### netflix most popular contents
- `https://flixpatrol.com/top10/netflix/world/2021/full/#netflix-1`

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
year = 2021
url = f"https://flixpatrol.com/top10/netflix/world/{year}/full/"

response = requests.get(url)
dom = BeautifulSoup(response.text, "html.parser")

elements = dom.select("#netflix-1 > div.-mx-content > div > div > table > tbody > tr")

datas = []
for element in elements:
    datas.append({
        "title": element.select("td")[2].text.strip(),
        "points": element.select("td")[3].text,
        "countries": element.select("td")[5].text,
        "days": element.select("td")[7].text,
    })
    
df = pd.DataFrame(datas)
df.to_csv('datas/netflix_point_2021.csv', index=False)
df.head()

              title  points countries days
0        Red Notice  25,918        90   48
1  We Can Be Heroes  25,311        82  214
2  Army of the Dead  18,888        89   92
3       Wish Dragon  16,953        82   88
4   Army of Thieves  15,081        90   52

In [5]:
year = 2021
url = f"https://flixpatrol.com/top10/netflix/world/{year}/full/"

response = requests.get(url)
dom = BeautifulSoup(response.text, "html.parser")

elements = dom.select("#netflix-2 > div.-mx-content > div > div > table > tbody > tr")

datas = []
for element in elements:
    datas.append({
        "title": element.select("td")[2].text.strip(),
        "points": element.select("td")[3].text,
        "countries": element.select("td")[5].text,
        "days": element.select("td")[7].text,
    })
    
df = pd.DataFrame(datas)
df.to_csv('datas/netflix_point_2021.csv', index=False)
df.head()

         title  points countries days
0   Squid Game  57,980        90  104
1  Money Heist  44,382        91  364
2        Lupin  42,690        83  256
3     Sex/Life  34,609        82  141
4   Bridgerton  33,973        82  146